.home-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  text-align: justify;
  margin: 0 3rem; 
}

.ribbon-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
}

.ribbon {
  width: 100px;
  position: relative;
  transform-origin: bottom;
}

.ribbon:nth-child(1) {
  height: 230px;
  background-color: #ae7bff;
  transform: scaleY(1);
  animation: pullDown 2s forwards;
  margin-left: auto;
}

.ribbon:nth-child(2) {
  height: 160px;
  background-color: #0066FF;
  transform: scaleY(1);
  animation: pullDown 2s forwards;
}

.ribbon:nth-child(3) {
  height: 90px;
  background-color: #C4FCF0;
  transform: scaleY(1);
  animation: pullDown 2s forwards;
  margin-right: auto;
}

@media (max-width: 768px) {
  .container {
    margin: auto 1rem; 
  }
}

@keyframes pullDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
